{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>MOTOGP API</h1>
    <p class="lead">Bienvenido a la API de MotoGP, Una API dedidaca a los amantes del mundo del Motor que estén interesados en desarrollar su aplicación o realizar estudios sobre los datos ofrecidos</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Datos extraidos de la Web Oficial</h2>
        <p>Los datos que publicamos son obtenidos o procesados de los datos originales publicados por MotoGP.</p>
        <p><a class="btn btn-default" href="http://www.motogp.com/es">Visital la web Oficial</a></p>
    </div>
    <div class="col-md-4">
        <h2>Documentación</h2>
        <p>Consulte como realizar consultas de una manera cómoda e iteractiva mediante nuestra documentación Swagger</p>
        <p><a class="btn btn-default" href="https://motogp-api.herokuapp.com/docs/">Ver Más</a></p>
    </div>
    <div class="col-md-4">
        <h2>Utiliza nuestra APP</h2>
        <p>Si eres un aficionado de MotoGP que quiere conocer todos los datos desde 1949 hasta ahora desde la comodidad de tu dispositivo Android, no dudes en descargar nuestra aplicación</p>
        <p><a class="btn btn-default" href="https://drive.google.com/open?id=1Zri1KvBA_hq1y_5E-3ACfiexsCQHWEdr">Descarga nuestro APK</a></p>
    </div>
</div>

{% endblock %}
