<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - MOTOGP-API</title>
</head>
{% load staticfiles %}
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">MotoGP API</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'carrera-list' %}">Carreras</a></li>
                    <li><a href="{% url 'campeonato-list' %}">Campeonato</a></li>
                    <li><a href="{% url 'documentacion-list' %}">Documentación</a></li>
                    <li><a href="{% url 'piloto-list' %}">Piloto</a></li>
                    <li><a href="{% url 'dashboard-list' %}">Dashboard</a></li>
                </ul>
 
            </div>
        </div>
    </div>

    <div class="container body-content">
{% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - MotoGP API</p>
        </footer>
    </div>

{% block scripts %}{% endblock %}

</body>
</html>
